<?xml version="1.0"?>
<configuration>
    <startup> 
        
    <supportedRuntime version="v2.0.50727"/></startup>
<appSettings>
  <add key="ftpUsername" value="ftpuser"/>
  <add key="ftpPassword" value="jnm4832"/>
  <add key="ftpAddress" value="ftp://192.168.12.249/"/>
  <add key="ftpSyncFolder" value="sync"/>
  <add key="ftpUploadFolder" value="upload"/>
  
  <add key="grant_type" value="client_credentials"/>
  <add key="client_id" value="example_id"/>
  <add key="client_secret" value="7cbe80709c9eab855e14ac10adc250ea"/>
  <add key="name" value="tiNi example clients"/>
  <add key="scope" value="*"/>
</appSettings>
</configuration>
